<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type = "text/javascript">

    var cars = [
    {"make": "Car1" , "model": "8484"},
    {"make": "Car2", "model": 85883}

    ];


     window.onload = function() {
	document.getElementById("theButton").onclick = function() {
		doSomething()
	};
  }
    //function form
    function doSomething(){

    $.post("receiver", JSON.stringify(cars), function(){

    });

    event.preventDefault();
    }


</script>


<a href="" id="theButton"> Click </a>
