absl-py==0.3.0
astor==0.7.1
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.4.16
click==6.7
cycler==0.10.0
Flask==1.0.2
Flask-Cors==3.0.6
gast==0.2.0
grpcio==1.14.1
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.0
numpy==1.14.5
Pillow==5.3.0
protobuf==3.6.0
pyparsing==2.2.2
python-dateutil==2.7.3
PyYAML==3.13
scipy==1.1.0
selenium==3.14.1
six==1.11.0
termcolor==1.1.0
urllib3==1.23
Werkzeug==0.15.3
