html,body{
    background-image: url(arch.jpg);
    color: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#heading{
    color: antiquewhite;
    font-size: 100px;
    margin-left: 2%;
}
#sub_heading{
    color: antiquewhite;
    margin-left: 2%;
    margin-top: -1%;
    font-size: 20px;
    font-weight: 100;
}

#buttons{
    margin-left: 2%;
    margin-top: 7%;
}

#landing_button_2{
    margin-left: 1%;
}

#usage{
    font-size: 12px;
    margin-top: 30%;
    margin-left:87.4%;
}